{% extends "layout.html" %} 

{% block body %}


<pre>
      <code>
        <h3> Trenutna konfiguracija klijenta: </h3>
      <form action="" method="POST">
        {% for trenutnoKonfiguracijskoPolje in data['konfiguracijaIzabranogKlijenta'] %}
          {{ data.postaviTrenutnuKonfiguracijskuVrednost(data['konfiguracijaIzabranogKlijenta'][trenutnoKonfiguracijskoPolje]) }}
         
        <h4>
          {{trenutnoKonfiguracijskoPolje}}
        </h4>
        <select name="{{trenutnoKonfiguracijskoPolje}}">
          <option value="{{data['konfiguracijaIzabranogKlijenta'][trenutnoKonfiguracijskoPolje]}}">
            {{data['konfiguracijaIzabranogKlijenta'][trenutnoKonfiguracijskoPolje]}}
          </option>
         
          {% for opcijaIzNizaOpcija in data['moguceOpcije'][trenutnoKonfiguracijskoPolje]  %}
              {% if opcijaIzNizaOpcija != data.uzmiTrenutnuVrednostKonfiguracijeIzMemorije() %}

              <!-- Zelimo da ispisemo vrednost opcije samo ukoliko ona nije ista kao opcija koja je u trenutnoj konfiguraciji a koju smo sacuvali preko funkcije postaviTrenutnuKonfiguracijskuVrednost -->

                <option value="{{opcijaIzNizaOpcija}}">
                  {{opcijaIzNizaOpcija}}
                </option>
              {% endif %}
          {% endfor %}
        </select>
        {% endfor %}
        <input type="submit" value="Sacuvaj konfiguraciju">
      </form> 
      </code>
    </pre>
            
{% endblock %}
    